<% provide(:title, "Contests") %>

<% if policy(Contest).create? %>
  <%= link_to "New contest", new_contest_path, class: "button" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Contest.human_attribute_name(:name) %></th>
      <th><%= Contest.human_attribute_name(:season) %></th>
      <th><%= Contest.human_attribute_name(:level) %></th>
      <th><%= Contest.human_attribute_name(:host) %></th>
      <th><%= Contest.human_attribute_name(:begins) %></th>
      <th><%= Contest.human_attribute_name(:ends) %></th>
      <th><%= Contest.human_attribute_name(:certificate_date) %></th>
      <th><%= Contest.human_attribute_name(:signup_deadline) %></th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
    <tr>
      <td><%= link_to contest.name, contest_path(contest) %></td>
      <td><%= contest.season %></td>
      <td><%= contest.level %></td>
      <td><%= contest.host.name %></td>
      <td><%= contest.begins %></td>
      <td><%= contest.ends %></td>
      <td><%= contest.certificate_date %></td>
      <td><%= contest.signup_deadline %></td>
    </tr>
    <% end %>
  </tbody>
</table>
